/* MAIN */

@font-face {
  font-family: "FinalFantasy";
  src: url("../font/Final-Fantasy.woff");
  font-weight: normal;
  font-style: normal;

}

:root {
  scroll-behavior: smooth;
  scroll-margin: 60px;
  font-size: 1.2rem;
  height: 200vh;
  background-color: black;
  font-family: "FinalFantasy", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

#loginresult{
  background-color: black;
}

/* GRID TEMPLATE */

.container1 {
  display: grid;

  grid-template-areas:
    "header header header"
    "side1 main side2"
    "footer footer footer";

  grid-template-columns: 10rem 1fr 10rem;
  grid-template-rows: auto 1fr auto;
  grid-gap: 10px;
  min-height: 200vh;
  margin: 0;
  margin-top: 3rem;
}

header {
  grid-area: header;
}

main {
  grid-area: main;
  padding: 2rem;
  flex-direction: column;
  /* background-color: gainsboro; */
  background-color: black;

}

.side1 {
  grid-area: side1;
  padding: 2rem;
  /* background-color: lightgreen; */
  background-color: black;
}

.side2 {
  grid-area: side2;
  padding: 2rem;
  /* background-color: lightcoral; */
  background-color: black;
}

footer {
  grid-area: footer;
  padding: 2rem;
  /* background-color: #7FAC71; */
  background-color: black;

}

/* COMPONENTS */

nav {
  /* background-color: #79CAF9; */
  background-color: black;
  height: 50px;
}

/* MEDIA */

@media (max-width: 992px) {
  .container1 {
    grid-template-areas:
      "header"
      "main"
      "side1"
      "side2"
      "footer";

    grid-template-columns: 1fr;
    grid-template-rows:
      auto
      /* Header */
      minmax(75px, auto)
      /* Nav */
      1fr
      /* Content */
      minmax(75px, auto)
      /* Sidebar */
      hidden;
    /* Footer */
  }
}