@import url('https://fonts.googleapis.com/css2?family=Playwrite+HU:wght@100..400&display=swap');

.playwrite-hu-fonty {
  font-family: "Playwrite HU", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  font: "Playwrite HU", cursive;
}


main {
  display: flex;
  justify-content: center;
  margin-top: 22rem;
  font-size: xx-large;
  background-color: white;
}